@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Raleway:wght@200;300;400;500;600&display=swap');

body {
    background: rgb(254, 255, 255);
    background: -moz-linear-gradient(-45deg, rgba(254, 255, 255, 1) 15%, rgba(245, 252, 244, 1) 41%, rgba(244, 252, 248, 1) 69%, rgba(244, 252, 248, 1) 84%, rgba(227, 247, 246, 1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(254, 255, 255, 1) 15%, rgba(245, 252, 244, 1) 41%, rgba(244, 252, 248, 1) 69%, rgba(244, 252, 248, 1) 84%, rgba(227, 247, 246, 1) 100%);
    background: linear-gradient(135deg, rgba(254, 255, 255, 1) 15%, rgba(245, 252, 244, 1) 41%, rgba(244, 252, 248, 1) 69%, rgba(244, 252, 248, 1) 84%, rgba(227, 247, 246, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feffff', endColorstr='#e3f7f6', GradientType=1);


    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    /*для сглаживания шрифтов*/
    -webkit-overflow-scrolling: touch;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway";
    font-weight: 400;
    color: #333;
}

a {
    color: #050505;
    text-decoration: none;
}

a:hover,
a:focus,
.nav-link:hover,
.nav-link:focus {
    color: #4C1D95;
    text-decoration: underline;
    outline: 0;
}

.img-header {
    width: 153px;
    height: 76px;
}

.btaa-header p {
    font-size: 16px;
}

.btn-icons {
    height: 50px;
    width: 50px;
    border: 1px solid rgb(177, 37, 37);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.icons-box {
    display: flex;
    justify-content: center;
}

.icons-item img {
    width: 30px;
    height: 30px;
}

.btaa-phone a {
    text-decoration: none;
    border-bottom: dashed;
    color: rgb(24, 112, 193);
    margin-left: 10px;
    font-weight: 400;
    font-size: 16px;
}

p {
    font-family: "Raleway";
    font-weight: 400;
    color: rgb(40, 39, 39);
    font-size: 20px;
}

.main-section {
    padding-top: 45px;
}

.btaa-tel {
    display: flex;
    justify-content: center;
}

.btaa-tel a {
    text-decoration: none;
    border-bottom: dashed;
    color: rgb(24, 112, 193);
    font-weight: 400;
    font-size: 18px;
}

.btaa-title {
    font-weight: 600;
}

.img-bear_right {
    max-width: 377px;
}

.img-bear_left {
    width: 400px;
    height: 477px;
    padding: 0;
}

/* start Адаптивное видео */
.youtube {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* End  Адаптивное видео */

.text-center {
    font-weight: bold;
}